body {
    margin: 0;
    padding: 0;
}

.bx {
    border-left: 5px solid white;
}

.bg-0 {
    background-image: url("../assets/img/austin-neill-5CusMrOVwqI-unsplash.jpg");
}

.bg-1 {
    background-image: url("../assets/img/bgimagedemo.jpg");
}

.bg-2 {
    background-image: url("../assets/img/dwinanda-nurhanif-mujito-pKT5Mg16w_w-unsplash.jpg");
}

#container-max {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.panels {
    width:20%;
    min-width:15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    cursor:pointer;    
    background-position: center;
    filter: grayscale(100%);
    color: rgb(108, 108, 108);
    background-size:cover;
    
    &:hover {
        width: 30%;
        filter: grayscale(0%);
        color: white;
    
        #bg-black {
            background-color: rgba(0, 0, 0, 0.256);
            padding: 10px 20px;
            transition-duration: 0.2s
        }
    }

    #mobile-focus {
        background-color: transparent;
        border: 0;
        color: inherit;
        height: 100%;
        width: 100%;
    }
}

#panel-profile {
    width: 40vw;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    #container-info {
        width: 50%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        #linkedin {
            color: inherit;
            margin: 1rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    #container-max {
        display:inherit;
    }

    .panels {
        width: 100%;
        height: 20vh;
        border: 0;


        &:active, &:hover {
            width: 100%;
            height: 40vh;
            filter: grayscale(0%);
            color: white;            

            #bg-black {
                background-color: rgba(0, 0, 0, 0.256);
                padding: 10px 20px;
                transition-duration: 0.2s
            }
        }
    }
    
    #panel-profile {
        width: 100%;
        height: 40%;
        min-height: 40%;

        img {
            margin-top: 1rem;
        }
        
        #container-info {
            width: 93%;
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

}
