body {
    margin: 0;
    padding: 0;
}

.bx {
    border-right: 3px solid white;
}

.panels {
    width:20%;
    min-width:15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition-duration: 2s;
    cursor:pointer;
    background-image: url('../assets/img/bgimagedemo.jpg');
    background-position: center;
    filter: grayscale(100%);
    color: rgb(108, 108, 108);
    background-size:cover;
    
    &:hover {
        width: 30%;
        filter: grayscale(0%);
        color: white;
    
        #bg-black {
            background-color: rgba(0, 0, 0, 0.256);
            padding: 10px 20px;
            transition-duration: 0.2s
        }
    }
}

.panel-increase:hover {
    animation: 0.2s increasePanel eas-in;
}


#panel-profile {
    position: relative;
    width: 40vw;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .div img {
        position: absolute;
        right: 45%;
        top: 25%;
    }
}

/*keyframes*/
@keyframes increasePanel {
    from {
        min-width: 15%;
    }
    
    to {
        width: 30%;
    }
}
