<div class="w100vw h100vh flex">

    <div id="panels" *ngFor="let title of titlesPanels; index as i" class="bx">
        <div>
            <h2>{{title}}</h2>
            <span>{{subtitles[i]}}</span>
        </div>
        <div>
            <button>click me</button>
        </div>
    </div>

    <div class="w40 h100 flex-column align-center justify-center text-center bx">
        <div>
            <img style="width: 100px;" src="../assets/img/newlogo.png" alt="">
        </div>
        <div class="w50">
            <h1>Francesco Leuzzi</h1>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, sunt nisi animi at distinctio eum soluta dolor voluptas cupiditate quia officiis, harum dolore maiores quod mollitia. Illo nemo ex temporibus!</span>
            <h2><i class="fa-brands fa-linkedin"></i></h2>
        </div>
    </div>
</div>