<div class="w100vw h100vh flex">

    <div *ngFor="let el of titlesPanels; index as i" class="bx panels panel-increase">
        <div id="bg-black">
            <div class="mb3">
                <h2 class="ls3px">{{titlesPanels[i]}}</h2>
                <span>{{subtitles[i]}}</span>
            </div>
            <div>
                <button style="padding: 20px 50px">click me</button>
            </div>
        </div>
    </div>

    <div id="panel-profile" class="bx">
        <div>
            <img style="width: 100px;" src="../assets/img/newlogo.png" alt="">
        </div>
        <div class="w50">
            <h1>Francesco Leuzzi</h1>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, sunt nisi animi at distinctio eum soluta dolor voluptas cupiditate quia officiis, harum dolore maiores quod mollitia. Illo nemo ex temporibus!</span>
            <h2><i class="fa-brands fa-linkedin"></i></h2>
        </div>
    </div>
</div>