<div>
    <div class="p2">
        <img (click)="goHome('/home')" style="width: 80px" src="../../assets/img/newlogo.png" alt="leuzzi logo">
    </div>
    <div style="margin: 30px">
        <p>Gli esempi seguenti si pongono l’obbiettivo di creare un’idea quanto più concreta di quello che sarà poi il menù finale,
        ma <b>possono essere personalizzati in ogni loro aspetto e funzione in base alle necessità e ai gusti del cliente</b>.</p>
    </div>
    <div class="flex-column align-center space-between" style="margin-top: 4rem;">
        <button class="menu-button green"><h2>Unus</h2></button>
        <button class="menu-button yellow"><h2>Duo</h2></button>
        <button class="menu-button red"><h2>Tribus</h2></button>
    </div>
</div>